body {
    background-color: #e8f4f8;
    font-family: 'Inter', sans-serif;
    min-height: 500vh;
    margin: 0;
    overflow-y: visible;
    overflow-x: hidden;
}

.header {
    width: 100%;
}

/* Top Barrrrrrrrr */

.top-bar {
    background-color: #002c58;

}

.top-bar__content {
    height: 30px;
    max-width: 1200px;
    column-gap: 20px;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.35);
    position: relative;
    left: 120px;
    overflow: hidden;
    
}

/* Bottom Barrrrrrrrr */
.bottom-bar {
    background-color: #e8f4f8;
   
}

.bottom-bar__content {
    min-height: 10px;
    max-width: 1500px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}

.profile-pic {
    width: 35px;
    height: 35px;
    border-radius: 60%;
    background-color: #c1e1ec;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-left: 15px;
    right: auto;
}


.profile-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.profile-pic:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
    vertical-align: sub;
    display: flex;
    column-gap: 10px;
    align-items: right;

}

.logo__img {
    height: 60px;
    border-radius: 20px;
}

.logo:hover {
    transform: scale(0.9);
    box-shadow: 0 6px 12px rgba(48, 38, 38, 0.4);
    border-radius: 20px;
}

.nav__item {
    position: relative;
    top: 0;

}

.nav__list {
    display: flex;
    column-gap: 30px;
    height: 100%;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;


}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    margin: 0 20px;
    position: static;
}

.search-container input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 14px;
}

.search-container button {
    background-color: #002c58;
    color: white;
    border: none;
    padding: 13px 16px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.search-container button:hover {
    background-color: #3d5670;
}

/* -------------- BUTTON -------------- */
.btn {
    background-color: rgb(244, 241, 234);
    width: 4em;
    height: 2em;
    border-radius: 10em;
    padding: 0 0.5em;
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, .1),
        inset 0 8px 8px rgba(0, 0, 0, .1),
        inset 0 -4px 4px rgba(0, 0, 0, .1);
    position: relative;
    left: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
}

.btn__indicator {
    background-color: #fff;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    position: absolute;
    left: 0.5em;
    box-shadow: 0 8px 40px rgba(0, 0, 0, .2);
    transition: transform 0.3s ease;
}

.btn__indicator:hover {
    background-color: #999898;
    box-shadow: 0 4px 8px rgba(1, 75, 140, 0.2);
}


/* -------------- ANIMATION ------------ */
.btn.active .btn__indicator {
    transform: translateX(1.7em);
}

.nav__link:hover,
.nav__link:focus {
    color: rgb(134, 203, 220);


}

/*------cover------*/
.cover {
    width: 100%;
    height: 1100px;
    background-image: url(sahej-brar-cMopgWJk_xs-unsplash.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.cover-text {
    position: absolute;
    top: 40%;
    left: 180px;

    transform: translateY(100%);

    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 0 0 10px #023b75;
}

.cover-button {
    position: absolute;
    top: 65%;

    left: 180px;

    padding: 14px 30px;
    font-size: 1.2rem;
    background-color: #023b75;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.cover-button:hover {
    background-color: #c1e1ec;
    color: black;
    transform: scale(1.05);
}

/* who are we*/

.container-1 {
    background-color: #e8f4f8;
    overflow: hidden;
}

.heading h1 {
    color: #3d5670;
    text-align: center;
    font-size: 45px;
    margin-top: 30px;
}

.content-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
}

.text {
    flex: 1;
    width: 600px;
    margin: 0 25px;
}

.text h2 {
    font: bold;
    color: #023b75;
    font-size: 3rem;
    margin-bottom: 25px;
}

.text p {
    font-size: 24px;
    margin-bottom: 30px;
    color: #545353;
    line-height: 1.5;



}

.container-1Btn {
    display: inline-block;
    background-color: #023b75;
    color: rgb(255, 255, 249);
    border-radius: 10px;
    padding: 15px 25px;
    font-size: 20px;
    scroll-behavior: smooth;
    cursor: pointer;
    border: none;
    transition: 0.3 ease;
}

.container-1Btn:hover {
    background-color: #c1e1ec;
    transform: scale(1.1);
    color: black;
}

.hero-image {
    flex: 1;
    width: 600px;
    margin: auto;
}

.hero-image img {
    width: 100%;
    height: auto;
    border-radius: 25px;
    transition: 0.3s ease;
    border: 10px solid;
    padding: 10px;
    border-image-source: linear-gradient(rgb(134, 203, 220), #3d5670);
    border-image-slice: 1;
}

.hero-image :hover {
    transform: scale(1.01);
}

/*our vision*/

.container-2 {
    background-color: #e8f4f8;
    overflow: hidden;
}

.content-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
}

.text-2 {
    flex: 1;
    width: 600px;
    margin: 0 25px;
}

.text-2 h2 {
    font: bold;
    color: #023b75;
    font-size: 3rem;
    margin-bottom: 35px;
}

.text-2 p {
    font-size: 24px;
    margin-bottom: 30px;
    color: #545353;
    line-height: 1.5;



}

.ourVision-button {
    display: inline-block;
    background-color: #023b75;
    color: rgb(255, 255, 249);
    border-radius: 10px;
    padding: 15px 25px;
    font-size: 20px;
    scroll-behavior: smooth;
    cursor: pointer;
    border: none;
    transition: 0.3 ease;
}

.ourVision-button:hover {
    background-color: #c1e1ec;
    color: black;
    transform: scale(1.05);
}

.container-2Img {
    flex: 1;
    width: 600px;
    margin: auto;
}

.container-2Img img {
    width: 100%;
    height: auto;
    border-radius: 25px;
    transition: 0.3s ease;
    border: 10px solid;
    padding: 10px;
    border-image-source: linear-gradient(rgb(134, 203, 220), #3d5670);
    border-image-slice: 1;
}

.container-2Img :hover {
    transform: scale(1.01);
}

/*our missions*/

.why-choose-us {
    background-color: #e8f4f8;
    padding: 80px 20px;
    text-align: center;
}

.why_choose_us h2 {
    text-align: center;
    font-size: 3rem;

    color: #023b75;
    margin-bottom: 50px;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    padding: 30px 20px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card i {
    color: #023b75;
    margin-bottom: 20px;
}

.card h3 {
    color: #023b75;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.card p {
    font-size: 1rem;
    color: #545353;
    line-height: 1.5;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}

/*founders*/

.founders {
    background-color: #e8f4f8;
    padding: 80px 20px;
    text-align: center;
}

.founders h2 {
    font-size: 3rem;
    color: #023b75;
    margin-bottom: 50px;
}

.founders-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.founder-card {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 250px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.founder-card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 5px solid #023b75;

}

.founder-card h3 {
    color: #023b75;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.founder-card p {
    font-size: 1rem;
    color: #545353;
}

.founder-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}

/* footer */
footer {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer-container {
    margin-top: 20px;
    padding-top: 30px;
    width: 100%;
    height: 100px;
    background-color: #023b75;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    background-color: #a4d2e2;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: #1a2c3e;
    opacity: 0.9;
    border-radius: 50%;
}

.socialIcons a:hover {
    background-color: #1a2c3e;
    transition: 0.5s;
}

.socialIcons a i:hover {
    color: #1b5187;
    transition: 0.5s;
}

.footer-nav {
    margin: 30px 0px;
}

.footer-nav ul {
    display: flex;
    justify-content: center;
}

.footer-nav ul li a {
    color: #a4d2e2;
    margin: 20px;
    text-decoration: none;
    font-size: 1.5em;
    opacity: 0.7;
    transition: 0.5s;
}

.footer-nav ul li a:hover {
    opacity: 1;
}