*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        scroll-behavior: smooth;
        size: fixed;
}

body {
    background-color:  #e8f4f8;
    font-family: 'Inter', sans-serif;
    min-height: 500vh;
    margin: 0;
    overflow-y: visible;
    overflow-x: hidden;
    size: fixed;
  }
  .header {
    width: 100%;
  }
  /* Top Barrrrrrrrr */
  
  .top-bar {
    background-color:#002c58 ;
    
  }
  
  .top-bar__content {
    height: 30px;
    max-width: 1200px;
    column-gap: 20px;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.35);
    position: relative;
    left: 120px;
    overflow: hidden;
  }
    /* Bottom Barrrrrrrrr */
  .bottom-bar {
    background-color:#e8f4f8 ;
  }
  .bottom-bar__content {
    min-height: 10px;
    max-width: 1500px;
    padding: 0 20px;
    margin: 0 auto;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .profile-pic {
    width: 35px;
    height: 35px;
    border-radius: 60%;
    background-color: #c1e1ec; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-left: 15px;
    right: auto;
  }
  

  .profile-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
  .profile-pic:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }
  
  .logo {
    vertical-align: sub;
    display: flex;
    column-gap: 10px;
    align-items: right;
    
  }
  .logo__img {
    height: 60px;
    border-radius: 20px;
    }
.logo:hover{
        transform: scale(0.9);
        box-shadow: 0 6px 12px rgba(48, 38, 38, 0.4);
        border-radius: 20px;
}
  .nav__item {
    position: relative;
    top:0;

  }
  .nav__list {
    display: flex;
    column-gap: 30px;
    height: 100%;
    align-items: center; 
    margin: 0;
    padding: 0;
   
  }
  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    margin: 0 20px; 
    position: static; 
  }

  .search-container input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 14px;
  }

  .search-container button {
    background-color:#002c58  ;
    color: white;
    border: none;
    padding: 13px 16px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .search-container button:hover {
    background-color: #3d5670;
  }
  
  /* -------------- BUTTON -------------- */
  .btn {
    background-color:rgb(244, 241, 234);
    width: 4em;
    height: 2em;
    border-radius: 10em;
    padding: 0 0.5em;
    box-shadow: inset 0 8px 60px rgba(0,0,0, .1),
                inset 0 8px 8px rgba(0,0,0, .1),
                inset 0 -4px 4px rgba(0,0,0, .1);
    position: relative;
    left:30px ;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
  }
  
  .btn__indicator {
    background-color: #fff;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    position: absolute;
    left: 0.5em;
    box-shadow: 0 8px 40px rgba(0,0,0, .2);
    transition: transform 0.3s ease;
  }
  .btn__indicator:hover {
    background-color: #999898;
    box-shadow: 0 4px 8px rgba(208, 17, 113, 0.2);
}
  
  
  /* -------------- ANIMATION ------------ */
  .btn.active .btn__indicator {
    transform: translateX(1.7em);
  }
  
  .nav__link:hover,
  .nav__link:focus {
    color: rgb(134, 203, 220); 
    
  }
 #slider {
  overflow: hidden;
  position: relative;  
  height: 100vh;      
  width: 100%;       
}
#slider figure {
    position: relative;
    width:400%;
    height: 100vh;
    margin:0;
    left:0;
    animation :20s slider infinite;
}
#slider figure img {
    float: left;
    width:25%;
}

@keyframes slider{
    0%{
        left:0;
    }
    20%{
        left:0;
    }
    25%{
        left: -100%;
    }
    45%{
       left: -100%;
    }
    50%{
        left:-200%;
    }
    70%{
        left:-200%;
    }
    75%{
        left:-300%;
    }
    95%{
        left:-300%;
    }
    100%{
        left:0;
    }
    
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    user-select: none;
    z-index: 10;
  }
  .prev {
    left: 10px; 
  }
  
  .next {
    right: 10px; 
  }  


#header{
    font-size: 50px;

    font-weight:bold;
  }
  .texthead{
    font-weight: 200;
    text-align: center;
 margin-top:100px ;
 margin-left: auto;
 color: rgb(10, 75, 86);
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-weight: 300;
     font-style: normal;
  }
  #header:hover{
    animation:glow ;
    animation-duration: 2s;
  }
  @keyframes glow{
    50% {text-shadow: 0px 0px 50px yellow } 
  }
  
  .phone-icon {
    width: 300px;
    height: auto;
    margin-left: 40%;
    margin-right: 40%;
    animation: rotate  infinite;
     animation-duration: 5s;
  }
  @keyframes rotate{
    100%{transform:rotate(360deg) ;}
  }
  .phone-icon:hover{
    transform:scale(1.03) ;
  }
  .category-header {
    text-align: left;
    margin-bottom: 30px;
    position: relative; 
    top: 20px;
    left: 45px;
}

.category-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.divider {
    border: none;
    height: 1px;
    background-color: #ddd;
    width: 80%;
    margin: 0 auto;
}
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 150px;
    padding: 100px;
}
.products-Grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 150px;
    padding: 100px;
    justify-items: center; 
}

.product-card {
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 8px;
    transition: transform 0.2s;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.product-name {
    font-weight: bold;
    margin-bottom: 5px;
}
.product-price {
    color: #333;
    font-size: 1.1rem;
    text-align: left;
}

.product-card {
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 8px;
    transition: transform 0.2s;
    text-align: center; 
}


.product-image {
    width: 80%;
    height: 80%;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

}
footer{
  background-color: rgb(42, 10, 107);
}
.footercontainer{
  width: 100%;
  padding-top: 50px;
}
.socialicons{
  display: flex;
  justify-content: center;
}
.socialicons a{
  margin-top: 5px;
  text-decoration: none;
  padding: 10px;
  margin: 20px;
  color: rgb(170, 232, 232);
}
.socialicons a i{
  font-size: 2em;
  opacity: 0.7;

}
.socialicons a :hover{
  border-radius: 90px ;
  background-color:rgb(234, 245, 245) ;
  text-decoration: none;
}
.footerbottom {
  background-color:  rgb(42, 10, 107);
  padding: 0%;
  text-align: center;
}

.footerbottom p {
  color: #fff;
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style:normal;
  font-variation-settings:100;
}